#root > div > div:nth-child(2) > div > div > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 40vh;
}

.card-title{
    padding: 10px;
}
.send{
    margin-top: 25px;
}
@media screen and (max-width: 640px){
    #root > div > div:nth-child(2) > div > div > h1{
        font-size: 40px;
    }
}