.mailer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.invis{
    display: none;
}
.btn{
    margin-top: 30px;
}

.titreMail{
    margin-top: 30px;
}
.form-control{
    width: 60%;
}