.tittre{
    padding: 2.3rem 0rem 5.3rem;
    margin: 0;
}
#root > div > div:nth-child(2) > div{
    padding: 0% 5% 0% 5%;

}
#root > div > div:nth-child(2) > row > div > div{
    border: 0px;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(9) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(8) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(7) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(6) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(5) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(4) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(3) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(2) > div > div{
    padding: 0.5rem;
}
#root > div > div:nth-child(2) > div > div > div:nth-child(1) > div > div{
    padding: 0.5rem;
}



